:root {
  background-color: #738290;
}

html {
  overscroll-behavior: none;
}

header {
  background-color: #13293D;
  text-align: center;
  padding: 1em 0;
  color: #F08700;
  width: 100%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

/**
#13293D -- Deep Blue
#EAEAEA -- Bright Grey/White
#738290 -- Blue/Grey
#F49F0A -- Orange
#F08700 -- Deep Orange
*/